name: Release
on:
  push:
      tags:
        - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: build --stacktrace
      - name: Get version from tag
        id: tag_name
        run: echo ::set-output name=version::${GITHUB_REF#refs/tags/v}
      - uses: mindsers/changelog-reader-action@v2
        id: changelog_reader
        with:
          version: ${{ steps.tag_name.outputs.version }}
      - uses: softprops/action-gh-release@v1
        with:
          files: build/libs/*.jar
          body: ${{ steps.changelog_reader.outputs.changes }}
          draft: ${{ steps.changelog_reader.outputs.status == 'unreleased' }}
          prerelease: ${{ steps.changelog_reader.outputs.status == 'prereleased' }}
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: itsmeow/curseforge-upload@v3
        with:
          token: ${{ secrets.CF_API_TOKEN }}
          project_id: 437915
          game_endpoint: minecraft
          file_path: noweakattack-${{ steps.changelog_reader.outputs.version }}.jar
          changelog_type: markdown
          changelog: ${{ steps.changelog_reader.outputs.changes }}
          display_name: ${{ steps.changelog_reader.outputs.version }} for Minecraft 1.16.3-1.16.4
          game_versions: 1.14-Snapshot,1.14,1.14.1,1.14.2,1.14.3,1.14.4,1.15-Snapshot,1.15,1.15.1,1.15.2,1.16-Snapshot,1.16,1.16.1,1.16.2,1.16.3,1.16.4,1.16.5,1.17,fabric
          release_type: release
